<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Password Manager</title>
<script >
function deleteMultipleDetails(){
	var checkboxList = document.querySelectorAll('.isChecked');
	var selectedItems = [];
	checkboxList.forEach(function (data){if(data.checked) selectedItems.push(parseInt(data.id))});
	
	var url = "/rest/deleteMultipleDetails";
	if(checkboxList.length == selectedItems.length)
		url = "/rest/deleteAllDetails";
	
		var requestOptions = {
	    method: 'DELETE',
	    headers: {
	        'Content-Type': 'application/json',
	      },
	    body : JSON.stringify(selectedItems)
	    };
	    fetch(url, requestOptions)
	    .then(response => response.text())
	    .then(result => {
	    	alert("Records has been successfully deleted");
	    	location.reload();
	    })
	    .catch(error => console.log('error', error));
}

function isSelectAll()
{
	var checkboxList=document.querySelectorAll('.isChecked');
	if(document.querySelector('.selectAll').checked)
		checkboxList.forEach(function (data){data.checked=true});
	else
		checkboxList.forEach(function (data){data.checked=false});
}
</script>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<!-- <body style = "
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;"> -->
<h2 align="center">Web Based Password Manager</h2>
<div class="row">
	<div class="mx-auto col-md-10">
		<div class="row">
			
			<div class="float-right col-md-10">
				<a href="/passwordManager/createPage" class="btn btn-primary ">Create
					New Password</a>
			</div>
			
			<div class="float-left col-md-2">
			<button type="button" th:onclick="deleteMultipleDetails()" th:disabled="${details.empty}"
					class="btn btn-primary" >Delete</button>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="mx-auto col-md-10">
		<table border="1" class="table table-striped">
			<thead>
				<tr class="table-primary">
					<th><input type="checkbox" th:id="ALL" class="selectAll form-check-input" onclick="isSelectAll()" th:disabled="${details.empty}">
					</th>
					<th colspan="2">Company Name</th>
					<th colspan="2">Password</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${details.empty}">
					<td colspan="7">No Passwords are available</td>
				</tr>
				<tr th:each="detail : ${details}">
					<td><input type="checkbox" th:id="${detail.id}" class="isChecked form-check-input"
						th:name="${detail.id}" th:value="${detail.id}"></td>
					<td colspan="2"><span th:text="${detail.webSiteName}">
							Company Name </span></td>
					<td colspan="2"><span th:text="${detail.password}">
							Password </span></td>
					<td>
						<form action="#"
							th:action="@{/passwordManager/getSpecificCompany/} + ${{detail.id}}"
							method="get">
							<button th:id="'edit_button' + ${detail.id}" type="submit"
								class="btn-warning btn-sm">
								<i>Edit</i>
							</button>
						</form>
					</td>
					<!-- <td>
						<form action="#"
							th:action="@{/passwordManager/deleteSpecificDetailsById/} + ${{detail.id}}"
							method="get">
							<button th:id="'edit_button' + ${detail.id}" type="submit"
								class="btn btn-danger btn-sm">
								<i>Delete</i>
							</button>
						</form>
					</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="mx-auto col-md-10">
		<div class="row">
			
	
			<div class="float-right col-md-10">
				<a href="/passwordManager/createPage" class="btn btn-primary ">Create
					New Password</a>
			</div>
			
			<div class="float-left col-md-2"/>
		</div>
	</div>
</div>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</body>
</html>