<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style = "
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;">
<h2 align="center">Web Based Password Manager</h2>
	<a href="/passwordManager/createPage">Create New Password</a>
	<table border="1">
		<thead>
			<tr>
				<th colspan="2">Company Name</th>
				<th colspan="2">Password</th>
				<th >Edit</th>
				<th >Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${details.empty}">
				<td colspan="4">No Passwords are available</td>
			</tr>
			<tr th:each="detail : ${details}">
				<td colspan="2"><span th:text="${detail.webSiteName}">
						Company Name </span></td>
				<td colspan="2"><span th:text="${detail.password}">
						Password </span></td>
				<td>
					<form action="#"
						th:action="@{/passwordManager/getSpecificCompany/} + ${{detail.id}}"
						method="get">
						<button th:id="'edit_button' + ${detail.id}" type="submit">
							<i>Edit</i>
						</button>
					</form>
				</td>
				<td>
					<form action="#"
						th:action="@{/passwordManager/deleteSpecificDetailsById/} + ${{detail.id}}"
						method="get">
						<button th:id="'edit_button' + ${detail.id}" type="submit">
							<i>Delete</i>
						</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="/passwordManager/createPage">Create New Password</a>
</body>
</html>